.buttons-container{
    display: flex;
    height: 70px;
    width: 100%;
    flex-direction: row;
}

.button-container{
    height: 100%;
    width: 100%;
    
    text-align: center;
    
    box-sizing: border-box;
    
    border-bottom: 2px solid var(--fg-color);
    border-left: 2px dashed var(--fg-color);
    border-right: 2px dashed var(--fg-color);
}

.button-text {
    line-height: 70px;
}